body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
}

h2 {
    font-size: 30px ;
}

header {
    padding: 30px 30px;
    border: 2px;
    border-bottom: black 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav a {
    padding: 15px;
    margin-left: 15px;
}

/* Added styling to image at tope of page so that it is centered and sized correctly to be a divider between the navigation bar and the webpage content */
.birds{
    height: 5%;
    width: 40%;
    display: block;
    margin-left: 300px;
    margin-right: 300px;

.hannah{ 
    display: flex;
    flex-wrap: wrap;
}
.maincontainer {
    max-width: 80%;
}

.aboutcontainer {
    padding: 50px;
    height: 300px;
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
}

.Container {
    display: flex;
    align-items: center;
}

..flex-box {
    font-family: 'Homemade Apple', cursive;
    text-align: right;
    width: 30%;
}

.contactlinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    margin-left: 175px;
}

/* Added css styling to make footer image span the entire bottom of the webpage */
.treeline {
    width: 100%;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    background-size: 100%, 100%;
}