
/* added custom variables for colors*/
:root {
    --light: #FFFFFF;
    --dark: black;
    --accent: #548677;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 100px;
}

a:link {
    color:var(--dark);
    text-decoration: none;
}
a:active {
    color: var(--dark);
    text-decoration: none;
}
a:visited {
    color:var(--dark);
    text-decoration: none;
}
a:hover {
    color: var(--accent);
    text-decoration: none;
}

h1 {
    font-size: 70px;
    font-family: 'Sail', cursive;
    text-align: center;
}

h2 {
    font-size: 30px ;
    font-weight: bolder;
    text-align: center;
}

header {
    padding: 30px 30px;
    border: 2px;
    border-bottom: var(--dark) 5px;
    display: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

main {
    background-color: var(--light);
}

.navbar {
    display: block;
    position: fixed center;   
    text-align: center;
    

}

nav a {
    padding: 15px;
    margin-left: 15px;
}

footer { 
    position: relative;
    text-align: center;
}
/* Added styling to image at tope of page so that it is centered and sized correctly to be a divider between the navigation bar and the webpage content */

.birds{
    height: 5%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
} 

/* Placed the photo of myself to the left of the About Me info */
.hannah{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
    width: 275px;
    padding: 50px 50px 50px 50px;
    border-radius: 4rem;
}
/* Centered all bio information in the about section */

.bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: 700px;
    text-align: center;
    font-size: 16px;
}  

.boldbio {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.maincontainer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 50px;
}

.flex-box {
    font-family: 'Quicksand', sans-serif;
    padding: 0px 25px 0px 25px;
}

.contact {
    margin-top: 75px;
}
.contactoptions {
    display: flex;
    padding: 0px 60px 0px 30px;
    width: 75%;
    align-self: center;
}

.contactlinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

/* Added underline under each subtitle class on page for better readability */
.Subtitle {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    border-bottom: solid var(--dark) 5px;
}

.firstapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.secondapps{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Added containers for the photos for the applications so they can be contained in their own section with their title and brief description */
.secondphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    width: 220px;
    margin: 25px 40px 25px 40px;
}

.firstphoto { 
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 100px 30px 100px;
  
}
.firstcontainer {
    width: 700px;
    height: 550px;
    background-color: var(--light);
    border: 5px solid var(--dark);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2rem;
    text-align: center;
}

.secondarycontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    height: 550px;
    background-color: var(--light);
    border: 5px solid var(--dark);
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    border-radius: 2rem;
    text-align: center;
}

.firstcontainer:hover {
    border-color: var(--accent);
    text-decoration: none;
}

.secondarycontainer:hover {
    border-color: var(--accent);
    text-decoration: none;
}

figcaption {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {

    body {
        margin: auto;
    }
    
    h2 {
        font-size: 20px;
    }

    }
    .contactlinks a {
        line-height: 50px;
    }

    .bio {
        height: 400px;
        width: 500px;
    }  

    .firstcontainer{
        height: 65%;
        width: 65%;
        font-size: 15px;
        align-self: center;
        margin: inherit;
    }

    .firstphoto { 
        height: 65%;
        width: 65%;
        margin: auto;
        margin-top: 10px;
    }

    .secondarycontainer {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        height: 60%;
        width: 25%;
        font-size: 12px;
    }

    .secondphotos {
       height: 60%;
       width: 60%;
    }

    .birds {
        height: 65%;
        width: 65%;
    }

    body {
        width: 85%;
  }

}
